$fuente-primaria: "Roboto", sans-serif;
$color-fondo: #00b3ff;
$color-fondo-formulario: #d8fafe;
$color-borde: #000000;
$color-borde-activo: #000000;
$color-primario: #4db9c9;
$color-primario-deshabilitado: #c2f1ff;
